.calculator{
    height: 400px;
    width: 455px;
    border-radius: 5px;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 65px 65px 65px 65px 70px ;
}